<h1 style="color:green">Hello<%= @user.first_name %>, </h1>
<p>You got a answer to your question</p>
<p>Question title: <%= @question.title %></p>
<p>The answer: <%= @answer.body %></p>

<p>Regards,</p>

<p>AwesomeAnswers Team</p>
